@{
    ViewBag.Title = "Dashboard";
}

@*<div class="jumbotron">
    <h1>Case Manager</h1>
    <p class="lead"></p>
    <p><a href="#" class="btn btn-primary btn-lg">Caseload &raquo;</a></p>
</div>*@
<div class="row">
   
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Caseload</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-primary" href="#">View all Cases &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Tasks</h2>
        <p>.</p>
        <p><a class="btn btn-primary" href="#">View all Tasks &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Messages</h2>
        <p>.</p>
        <p><a class="btn btn-primary" href="#">View all Messages &raquo;</a></p>
    </div>
</div>